### https://raw.github.com/github/gitignore/ba36ec3054810ec075740c6f67bb3da8b7bf9bfc/Scala.gitignore

*.class
*.log


### https://raw.github.com/github/gitignore/ba36ec3054810ec075740c6f67bb3da8b7bf9bfc/Scala.gitignore

*.class
*.log


### https://raw.github.com/github/gitignore/ba36ec3054810ec075740c6f67bb3da8b7bf9bfc/Scala.gitignore

*.class
*.log


